<form id="new_task_form" class="well form-inline">
    <input type="text" name="task" id="task"/>
    <input type="submit" value="Add" class="btn btn-primary"/>
</form>

<table class="table todo-list">
  <tr>
    <th>Task</th>
    <th>Done</th>
  </tr>
</table>
